
{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-8">
   <h1 id="start">Sedro-Wolley Dairy</h1>
   <p>
     Photos from the <a href="http://www.atlasobscura.com/places/northern-state-hospital-farm">Northern State Hospital Farm</a> in Sedro-Wolley, WA</p>
   </p>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/barn_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/sedro-wall2_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/barn-outside_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/outside_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>




<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/sedro-branches2_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/sedro-branches_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/sedro-fence_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sedro/sedro-wall_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Sedro Wolley Dairy, 11/8/15</p>
   </div>
 </div>
</div>


{% endblock content %}

