{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-8">
   <h1>Pinhole</h1>
   <p>
     I've recently starting playing around with some <a href="https://en.wikipedia.org/wiki/Pinhole_camera">Pinhole photography</a>.
   </p>
   <p>I'd love to do a larger project that includes some pinhole photos, but for now, these are just on their own.</p>

 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/pike-market-counter_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Place Market, 12/20/15</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/pike-market-entrance_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Place Market, 12/20/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/pike-alley_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Place Market, 12/20/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/pike-market-loading_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Place Market, 12/20/15</p>
   </div>
 </div>
</div>



<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/ballard-locks-people_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Locks, 11/29/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/ballard-locks-water_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Locks, 11/29/15</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pinhole/ballard-locks-leaves_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Locks, 11/29/15</p>
   </div>
 </div>
</div>


{% endblock content %}
