
{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-8">
   <h1>San Francisco</h1>
   <p>
     Various shots in San Francisco.  Film and Digital.
   </p>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/golden-boy_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Golden Boy Pizza, San Francisco, 2015</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-hotel_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">The Basque Hotel, San Francisco, 2015</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-trumpet_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Embarcadero, San Francisco, 2015</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-runner-seagull_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pier 14, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-jump_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Market Street, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-lock-heart_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Market Street, San Francisco, 2015</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-blue_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Castro Street, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-burrito_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-castro-street_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Castro Street, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-falafel_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-moped_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-neil-toronado_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Toronado, San Francisco, 2015</p>
   </div>
 </div>
</div>




<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-pier_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pier 7, San Francisco, 2015</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-seagull_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pier 7, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-self_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Self Portrait, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-show_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Market Street, San Francisco, 2015</p>
   </div>
 </div>
</div>





<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/sf/sf-violent-year_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Castro Street, San Francisco, 2015</p>
   </div>
 </div>
</div>


{% endblock content %}

