* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 18px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand {
	font-size: 24px;
}

.site-header {
	color: #282828  ;
	padding-bottom: 48px;
}

.site-header-title a {
  font-size: 48px;
  color: #202020 ;
}

.titles {
  padding-bottom: 24px;
}

.site-header-subtitle a {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 6px;
  color: #484848;
}


.site-header-menu {
  font-size: 18px;
}

.site-header a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  padding-bottom: 24px;
}

.navbar {
	border; 0;
}

.thumbnails {
}

.thumbnails img {
	margin: 0 auto;
}

.thumbnails img:hover {
  opacity: 0.85;
}

.set-description {
	padding-bottom: 48px;
}

.large-image-row {
	padding-bottom: 36px;
}

.large-img-details {
	padding-top: 6px;
	font-size: 14px;
}

.thumbnail-block {
		padding-bottom: 32px;
}

ul#main-nav {
  margin-left: 18px;
}

#main-nav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.footer-block {
  padding-top: 24px;
  font-size: 14px;
  color: #A0A0A0
}
