
{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-8">
   <h1>Postcards From Seattle</h1>
   <p>
   </p>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/women-pier_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pier 55, Seattle Waterfront, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/chess_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pioneer Square, Seattle, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/fish-market_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Place Fish Market, Seattle, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/pike-alley_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Pike Street Alley, Seattle, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/sax_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Farmers Market, Seattle, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/sightseers_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Locks, Seattle, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/postcards-seattle/skateboard_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Ballard Commons Skatepark, Seattle, 2015</p>
   </div>
 </div>
</div>




{% endblock content %}
