{% extends "base.html" %}
{% block content %}

<div class="row thumbnails">

  <div class="col-md-4 thumbnail-block">
    <div class="row">
      <div class="col-md-12">
        <a href="/p/pike-place/">
          <img class="img-responsive" src="{% static '/photos/pike-place/umbrella-thumb-375x375.jpg' %}" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><a href="/p/pike-place/">Pike Place Market</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4 thumbnail-block">
    <div class="row">
      <div class="col-md-12">
        <a href="/p/sedro/">
          <img class="img-responsive" src="{% static '/photos/sedro/barn-thumb-375x375.jpg' %}" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><a href="/p/sedro/">Sedro-Wolley</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4 thumbnail-block">
    <div class="row">
      <div class="col-md-12">
        <a href="/p/postcards-seattle/">
          <img class="img-responsive" src="{% static '/photos/postcards-seattle/women-pier-thumb-375x375.jpg' %}" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><a href="/p/postcards-seattle/">Postcards from Seattle</a></p>
      </div>
    </div>
  </div>


</div>



<div class="row thumbnails">
  <div class="col-md-4 thumbnail-block">
    <div class="row">
      <div class="col-md-12">
        <a href="/p/pinhole/">
          <img class="img-responsive" src="{% static '/photos/pinhole/pike-market-counter-thumb-375x375.jpg' %}" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><a href="/p/pinhole/">Pinhole</a></p>
      </div>
    </div>
  </div>

 <div class="col-md-4 thumbnail-block">
  <div class="row">
    <div class="col-md-12">
      <a href="/p/sf/">
        <img class="img-responsive" src="{% static '/photos/sf/golden-boy-thumb-375x375.jpg' %}" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center"><a href="/p/sf/">San Francisco</a></p>
    </div>
  </div>
</div>

<div class="col-md-4 thumbnail-block">
  <div class="row">
    <div class="col-md-12">
      <a href="/p/wiggle/">
        <img class="img-responsive" src="{% static '/photos/wiggle/wiggle-door-thumb-375x375.jpg' %}" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center"><a href="/p/wiggle/">Wiggle Bicycles</a></p>
    </div>
  </div>
</div>
	
{% endblock content %}
