
{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-8">
   <h1>Wiggle Bicycles</h1>
   <p>
     Garret from <a href="http://wigglebicycles.com/">Wiggle Bicycles</a> in San Francisco was kind enough to let me spend some time shooting in his shop.
   </p>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/wiggle/wiggle-door_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Wiggle Bicycles, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/wiggle/bike1_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Wiggle Bicycles, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/wiggle/bike2_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Wiggle Bicycles, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/wiggle/overview_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Wiggle Bicycles, San Francisco, 2015</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/wiggle/wheels_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-4">
     <p class="large-img-details">Wiggle Bicycles, San Francisco, 2015</p>
   </div>
 </div>
</div>





{% endblock content %}

