
{% extends "base.html" %}
{% block content %}

<div class="row set-description">
 <div class="col-sm-7">
   <h1>Pike Place Market</h1>
   <p>
    <span class="dropcap">P</span>IKE Place Market is one of the oldest continuously operated public markets in the United States with more than 10 million visitors annually.
   </p>
   <p>
   While walking through the market, it’s easy to get overwhelmed by the crowds and activity : fish flying through the air accompanied by shouts from the fishmongers while tourists snap photos, vendors thrusting samples at the passing crowd, buskers performing and making deals for time in the best spots.
   </p>
   <p>
  In the midst of this craziness, lies a community.
  </p>
  <p>
  Fishmongers sharing a joke when the crowd dies down, vendors teasing their regulars while giving their dogs a snack, workers reminiscing with a tourist over a shared home town -- through these interactions a special community is built daily.
  </p>
  <p>
  With this project, I wanted to slow down life at the market and highlight its community, humanity and beauty.
  </p>

   </p>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/dogs_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/fishmonger_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/hands_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>

<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/painter_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/produce_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/reflection_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/umbrella_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/window_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


<div class="large-image-row">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="{% static '/photos/pike-place/kiss_1024.jpg' %}" />
    </div>
 </div>
 <div class="row">
   <div class="col-sm-12">
     <p class="large-img-details">Pike Place Market, Seattle, 2016</p>
   </div>
 </div>
</div>


{% endblock content %}
